# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.bak
*.depend
.bin
.obj
*~
*.layout
*.cache
ABOUT-NLS
Makefile
*.m4
*.cache
*.log
*.status
configure
intl
m4
po
scripts
resources.rc
app-manifest.xml
vgcore.*


config.h
stamp-h1
*.[0-9]
*.pc

